In [9]:
import pandas as pd
import numpy as np

In [2]:
chicago = pd.read_csv("chicago.csv").dropna(how="all")
chicago["Department"] = chicago["Department"].astype("category")

In [8]:
#chicago["Employee Annual Salary"] = [str(salary).replace('$','') for salary in chicago["Employee Annual Salary"]]
chicago["Employee Annual Salary"] = chicago["Employee Annual Salary"].str.replace('$','').astype(np.float32)

In [54]:
chicago["FirstName"]= [str(name).split(',')[0].strip() for name in chicago["Name"]]
chicago["LastName"]= [str(name).split(',')[1].strip() for name in chicago["Name"]]
chicago.drop("Name",axis=1,inplace=True)

32062

## Common string methods - .lower(), .upper(), .title() and .len()

In [82]:
print("HELLO World".lower())
print("HELLO World".upper())
print("HELLO World".title())
print(len("HELLO World"))

hello world
HELLO WORLD
Hello World
11

In [ ]:
chicago["FirstName"] = chicago["FirstName"].str.title()

In [86]:
colNames = ['Position Title', 'Department', 'FirstName','LastName']
for colName in colNames:
    chicago[colName] = chicago[colName].str.title()

## The .str.replace() Method

In [90]:
chicago["Department"] = chicago["Department"].str.replace("Mgmnt","Management")

## Filtering with String Methods

In [94]:
mask = chicago["Position Title"].str.lower().str.contains("water")
chicago[mask]

,Position Title,Department,Employee Annual Salary,FirstName,LastName
0,Water Rate Taker,Water Management,90744.0,Aaron,Elvia J
554,Foreman Of Water Pipe Construction,Water Management,102440.0,Aluise,Vincent G
671,Water Chemist Ii,Water Management,82044.0,Ander,Perry A
685,District Superintendent Of Water Distribution,Water Management,109272.0,Anderson,Andrew J
702,Foreman Of Water Pipe Construction,Water Management,102440.0,Anderson,Donald
1054,Water Chemist Ii,Water Management,82044.0,Ashley,Karma T
1079,Water Chemist Ii,Water Management,82044.0,Atkins,Joanna M
1181,Water Chemist Ii,Water Management,53172.0,Azeem,Mohammed A
1285,Water Meter Machinist,Water Management,82576.0,Bajic,John A
2400,Water Rate Taker,Water Management,78948.0,Bolton,Brian E
2586,Water Chemist Ii,Water Management,82044.0,Boyce,Adner L
2745,Water Chemist Ii,Water Management,53172.0,Brandys,Daniel
3143,Water Rate Taker,Water Management,82728.0,Brown,Sharon L
3246,Water Chemist Ii,Water Management,66780.0,Buchanan,Anthony L
3456,Water Rate Taker,Water Management,90744.0,Burt,Carl S
3626,Water Rate Taker,Water Management,90744.0,Cage,Ophelia
3663,Foreman Of Water Pipe Construction,Water Management,102440.0,Calderone,Michael P
4889,Water Meter Machinist,Water Management,82576.0,Clark,Mark A
5506,Water Chemist Ii,Water Management,82044.0,Cooper Jr,Eddie
6337,Water Meter Machinist,Water Management,82576.0,Davenport,Clarence
6421,Gen Supt Of Water Management,Water Management,119208.0,Davis Iii,Wallace
6564,Foreman Of Water Pipe Construction,Water Management,102440.0,Decaluwe,Stanley J
6954,Water Rate Taker,Water Management,90744.0,Diaz,Oscar A
7356,Foreman Of Water Pipe Construction,Water Management,102440.0,Dowdy,Timothy J
7463,Foreman Of Water Pipe Construction,Water Management,102440.0,Driver,Claude A
7641,Water Rate Taker,Water Management,90744.0,Durant,Patricia B
7650,Water Meter Machinist,Water Management,82576.0,Durham,Patrick L
8092,Water Rate Taker,Water Management,78948.0,Espinosa,Rodolfo
8660,Foreman Of Water Pipe Construction,Water Management,102440.0,Fitzpatrick,Charles W
9325,Chief Water Chemist,Water Management,96840.0,Gaither,Rasheda K
...,...,...,...,...,...
23187,Water Chemist Ii,Water Management,70152.0,Quintanilla,Edwin
24003,Water Rate Taker,Water Management,78948.0,Rios,Francisco
24178,Water Chemist Ii,Water Management,66780.0,Roberts,Akilah
24266,Water Meter Assessor,Water Management,90744.0,Robinson,Jerry
24422,Water Meter Assessor,Water Management,78948.0,Rodriguez,Edward L
24501,Water Rate Taker,Water Management,90744.0,Rodriguez,Marco A
24945,Water Quality Inspector I/C,Water Management,65172.0,Rudmin,Kenneth D
25055,Water Meter Assessor,Water Management,90744.0,Russnak,Thomas W
25233,Dir Of Water Purification Laboratories,Water Management,109008.0,Saleh,Hassen
25260,Engineer Of Water Purification,Water Management,118656.0,Salinas,Eduardo S
26372,Water Chemist Iii,Water Management,89676.0,Siddiqui,Abdurrazzaq
26519,Water Rate Taker,Water Management,90744.0,Sims,Demetrius
26625,Water Rate Taker,Water Management,90744.0,Skowron,John
26871,Water Rate Taker,Water Management,90744.0,Smith,Nancy A
27015,Water Meter Assessor,Water Management,90744.0,Sojka,Jeffrey A
27368,Foreman Of Water Pipe Construction,Water Management,102440.0,Stang,Christopher
27537,Foreman Of Water Pipe Construction,Water Management,102440.0,Stevenson Jr,Walter
27635,Water Chemist Ii,Water Management,82044.0,Stokes,Carolyn M
27755,Water Meter Machinist,Water Management,82576.0,Stroud Jr,James E
28185,Water Rate Taker,Water Management,82728.0,Tate,Gary
28443,Water Rate Taker,Water Management,78948.0,Thomas,Howard
28574,Water Quality Inspector,Water Management,62004.0,Threatt,Denise R
28602,Water Rate Taker,Water Management,78948.0,Tignor,Darryl B
28955,Water Rate Taker,Water Management,78948.0,Travis Cook,Leslie R
29584,Water Rate Taker,Water Management,78948.0,Velazquez,John
29669,Managing Engineer - Water Management,Water Management,111192.0,Verma,Anupam
30239,Water Chemist Iii,Water Management,89676.0,Washington,Joseph
30544,Gen Supt Of Water Management,Water Management,115704.0,West,Thomas R
30991,Foreman Of Water Pipe Construction,Water Management,102440.0,Williams,Matthew
31405,Foreman Of Water Pipe Construction,Water Management,102440.0,Woodridge,Robert L

In [97]:
mask1 = chicago["Position Title"].str.lower().str.startswith("water")
mask2 = chicago["Position Title"].str.lower().str.endswith("ist")
chicago[mask1 & mask2]

,Position Title,Department,Employee Annual Salary,FirstName,LastName
1285,Water Meter Machinist,Water Management,82576.0,Bajic,John A
4889,Water Meter Machinist,Water Management,82576.0,Clark,Mark A
6337,Water Meter Machinist,Water Management,82576.0,Davenport,Clarence
7650,Water Meter Machinist,Water Management,82576.0,Durham,Patrick L
10170,Water Meter Machinist,Water Management,82576.0,Godinez,Julio A
10457,Water Meter Machinist,Water Management,82576.0,Gordon,Donald R
10707,Water Meter Machinist,Water Management,82576.0,Green,John F
12408,Water Meter Machinist,Water Management,82576.0,Hjelmgren,James A
13476,Water Meter Machinist,Water Management,82576.0,Jansky,Thomas A
14053,Water Meter Machinist,Water Management,82576.0,Jones Jr,Frank B
15138,Water Meter Machinist,Water Management,82576.0,Kolb,Gary J
15425,Water Meter Machinist,Water Management,82576.0,Kubiak,Walter F
20936,Water Meter Machinist,Water Management,82576.0,O Connor Jr,Michael J
21078,Water Meter Machinist,Water Management,82576.0,Olbera Sr,Martin R
22384,Water Meter Machinist,Water Management,82576.0,Pfannkuche,Joseph W
22916,Water Meter Machinist,Water Management,82576.0,Price,Johnny L
27755,Water Meter Machinist,Water Management,82576.0,Stroud Jr,James E

## More String methods : .strip(), .lstrip(), .rstrip()

In [91]:
chicago.head()
#chicago.info()
#chicago.columns

,Position Title,Department,Employee Annual Salary,FirstName,LastName
0,Water Rate Taker,Water Management,90744.0,Aaron,Elvia J
1,Police Officer,Police,84450.0,Aaron,Jeffery M
2,Police Officer,Police,84450.0,Aaron,Karina
3,Chief Contract Expediter,General Services,89880.0,Aaron,Kimberlei R
4,Civil Engineer Iv,Water Management,106836.0,Abad Jr,Vicente M